.htaccess
.htdigest
.htpasswd
public/admin/stdout.log
composer.phar
framanav
nav
app/inc/config.php
vendor
cache/
var/tpl_c/*
!var/tpl_c/.gitkeep
.php-cs-fixer.cache
.zanata-cache/

# Temp files
*~
\#*\#

# Cache
Thumbs.db

# IDE
.settings/
.project
.idea/
*.iml

#ics temp file
out.ics
